@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Titillium+Web:400,700&display=swap');
$full-screen-bg: url('https://images.pexels.com/photos/378273/pexels-photo-378273.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center center no-repeat;
$full-screen-bg-size: cover;
$full-screen-text-color: $white;

.full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // background: $full-screen-bg;
  // background-size: $full-screen-bg-size;

  .middle-content-section {
    text-align: center;
    color: $full-screen-text-color;
  }

  .top-content-section {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .bottom-content-section {
    padding: 1rem;

    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $full-screen-text-color;
      transition-duration: 0.4s;
    }
    // &::hover {
    //   fill: #04d0d9;
    // }
    svg:hover{
      fill: #9acb34;
    }
  }

  // optional demo styles
  .top-bar {
    background: transparent;
    display: inline-block;
    list-style-type: none;
    flex-direction: column;
    align-items: center;

    .menu {
      background: transparent;
    }

    .menu-text {
      color: $full-screen-text-color;
    }

    .menu li {
      display: flex;
      align-items: center;
    }

    .menu a {
      color: $full-screen-text-color;
      font-weight: bold;
    }
  }
}

// ==========================================
// ==========================================

$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 3px;

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: $menu-hover-lines-transition;

  li a {
    padding: 0.75rem 0;
    color: rgba($body-font-color, 0.5);
    position: relative;
    margin-left: 1rem;
  }

  li:first-child a {
    margin-left: 0;
  }

  li.active > a {
    background-color: transparent;
  }

  a:before,
  a::after {
    height: $menu-hover-lines-border-width;
    position: absolute;
    content: '';
    transition: $menu-hover-lines-transition;
    // background-color: $primary-color;
    background-color: #04d0d9;
    width: 0;
  }

  a::before {
    top: 0;
    left: 0;
  }

  a::after {
    bottom: 0;
    right: 0;
  }

  a:hover,
  li.active > a {
    color: $body-font-color;
    transition: $menu-hover-lines-transition;
  }

  a:hover::before,
  .active a::before,
  a:hover::after,
  .active a::after {
    width: 100%;
  }
}

// ==========================================
// ==========================================

html {scroll-behavior: smooth;}
body, a, p, div, article, ul, li, span {font-family: 'Fira Sans', sans-serif;}
#blog {
  padding-top: 20px;
  // padding-bottom: 20px;
}

#main-content-section {
  background: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Titillium Web', sans-serif;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

// ==========================================
// ==========================================

.card-flex-article {

  transition-duration: 0.2s;

  .card-divider {
    display: flex;
    background: transparent;

    p {
      margin-bottom: 0;
    }

    .avatar {
      margin-right: 0.75rem;
    }
  }

  .avatar {
    position: relative;

    img {
      border-radius: 50%;
    }

    &.with-add-icon .fa {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $alert-color;
    }
  }

  .card-actions {
    .fa:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  .card-image {
    position: relative;
  }

  .card-tag {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3%;
  }

  .card-section {
    .article-title {
      // font-family: 'Merriweather', serif;
      // font-weight: bold;
      font-size: 1.75rem;
      margin-bottom: 0;
    }

    .article-details {
      font-size: 0.75rem;
      opacity: 0.5;
      padding-bottom: 0.75rem;
    }

    // .article-summary {
      // font-family: 'Merriweather', serif;
    // }
  }

  .user-info {
    font-size: 0.75rem;

    .user-name {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .notability {
    font-size: 0.75rem;
    opacity: 0.5;
  }

  &:hover {
    box-shadow: 5px 7px 3px #353e4a;
  }
}

// ==========================================
// ==========================================


.pagination {
  padding: 30px 0;
  text-align: center;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.pagination a:first-of-type, .pagination a:last-of-type, .pagination .is-active{
  background-color: #9acb34;
  color: #fff;
  font-weight: bold;
}

// ==========================================
// ==========================================

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  // text-align: center;
  padding: 18px;
  // color: #353e4a;
  color: #9acb34;
  background-color: #353e4a;
  // flex-direction: row;
  justify-content: space-between;

  margin: 0;
  list-style: none;
  display: flex;
  // margin-right: 18px;
  // padding: 0;

  // .footer-left {text-align: left;}
  .footer-center {text-align: center;}
  // .footer-right {
  //   text-align: right;
  //   align-content: flex-end;
  // }
}

footer p {
  display: inline-block;
}

span.label.alert.card-tag {
  background: #9acb34;
  background: #353e4a;
  color: #353e4a;
  color: #9acb34;
}

// ==========================================
// ==========================================

@-webkit-keyframes btnAnimation {
  0% {fill: white;}
  100% {fill: #9acb34;}
}

@-moz-keyframes imageAnimation {
  0% {fill: white;}
  100% {fill: #9acb34;}
}

@-ms-keyframes imageAnimation {
  0% {fill: white;}
  100% {fill: #9acb34;}
}

@keyframes imageAnimation {
  0% {fill: white;}
  100% {fill: #9acb34;}
}